grant codeBase "file:../-" {
    permission java.net.SocketPermission "localhost:0", "listen, resolve";
    permission java.net.SocketPermission "*:1024-", "connect, accept";
};

grant codeBase "file:${user.dir}/-" {
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.io.FilePermission "file:${user.dir}", "read, write";
    permission java.io.FilePermission "log/", "read, write";
    permission java.io.FilePermission "log/*", "read, write, delete";
};

grant {
    permission java.util.logging.LoggingPermission "control";
};